body {
    background-color: #0f353a;
    margin: 0;
    text-align: center;
    color: white;
}

.container {
    margin: auto;
    text-align: center;
    width: 70%;
    padding: 10px 0;
}

/* Dice container having score, dice, input value clicked */
.dice-score-container{
    display: flex;
    width: 100%;
}
.variable{
    width: 40%;
    font-size: 30px;
}
.dice{
    margin: 0 10px;
    width: 20%;
}
.score{
    width: 40%;
    font-size: 30px;
}

/* input value from 1-6 */
.input-box{
    box-sizing: border-box;
    margin: 50px auto;
    width: 350px;
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    grid-template-columns: auto auto auto;
}
.input{
    border: 1px solid white;
    padding: 10px;
    font-size: 30px;
}
.input:hover{
    cursor: pointer;
}

/* active class when input button clicked */
.active{
    background-color: #4ecca3;
}

/* result for right or wrong guess */
.result{
    background-color: grey;
}

/* Edit name btn css */
.edit-btn {
    background: #4ecca3;
    border-radius: 7px;
    color: white;
    font-size: 30px;
    padding: 15px 25px;
    text-decoration: none;
}
.edit-btn:hover {
    background: #232931;
    text-decoration: none;
}

/* Responsive Design */
@media screen and (max-width: 750px) {
    .container{
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .dice-score-container{
        flex-direction: column;
    }
    .variable{
        width: 100%;
    }
    .dice{
        width: 100%;
        margin: 10px 0;
    }
    .score{
        width: 100%;
    }
    .input-box{
        width: 100%;
    }
}