body{
    padding: 10px;
    background-color:cornsilk;
}
#pic{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 200px;
    border: solid 1px;
    border-radius: 10px;
    animation: slider 9s infinite linear;
}
@keyframes slider{
    0%{background-image: url('food1.jpg');}
    50%{background-image: url('food2.jpg');}
    100%{background-image: url('food3.jpg');}
}
#request{
    width: 60%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    padding-left: 50px;
    padding-right: 20px;
    border-top: solid 10px brown;
}
p{
    padding: 20px;
    padding-top: 0px;
    font-size: 17px;
    line-height: 25px;
}
.question{
    width: 60%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    padding-left: 50px;
    line-height: 40px;
}
label{
    font-size: larger;
}
.info{
    width: 80%;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-bottom: solid 1px;
}
#button{
    padding: 10px;
    font-size: 15px;
    margin-left: 70%;
    margin-top: 30px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
}
#button:hover{
    background-color: cornflowerblue;
}
span{
    color: red;
}
@media screen and (max-width: 800px){
    #pic{
        width: 80%;
    } 
    #request , .question{
        width: 75%;
    }
}
@media screen and (max-width: 500px){
    #pic{
        width: 100%;
    }
}