body {
    background-color:#333;
}
.calculator{
    border-radius: 10px;
    background-color: #867979;
    display:flex;
    flex-wrap:wrap;
    margin: 20px auto ;
    width:100%;
    max-width: 700px;
    box-shadow:0 0 15px black;
    padding:10px;
    box-sizing:border-box;
}
.output{
    box-shadow:5px 5px 5px black;
    border-radius: 10px;
    margin:2%;
    width:100%;
    height:70px;
    padding:30px;
    font-size:40px;
    text-align: right;
}
.num{
    box-shadow:inset 0 5px 10px 0 #fff,
                inset 0 -5px 10px 3px grey,
                5px 5px 5px black;
    border-radius: 10px;
    margin:1% 2%;
    font-size:40px;
    width:21%;
    height:80px;
    display:flex;
    justify-content:center ;
    align-items:center ;
    background:white;
    cursor: pointer;
}
.num:active {
    box-shadow: inset 0 -5px 10px 0 #fff,
                inset 0 5px 10px 3px #2d1f1fba,
                0 0px 10px 0px #3f423f00;
}
.clear{
    width:46%;
    background:#55deff;
}
.equal{
    background-color:#ffbbfe;
}